body {
	background-color: pink;
	margin: 0;
}

nav {

	background-color: green;
	height: 40px;
}

ul {
	list-style: none; 
	margin-top: 0px;
}


li {
	display: inline;
}

a {
	text-decoration: none;
}

img {
	max-width: 199px;
}

table, th, td {
border: 1px solid;
margin:auto;

}

.center-text {
	text-align: center;

}